


    

body{

    font-family: 'Roboto', sans-serif;
}


div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.descuentos{
    background-color: #D1891C;
    display: block;
    font-size: 13px;
    padding: 3vw;
    padding-left: 18px;
}


h1{
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    padding: 18vm ;
    padding-left: 10px;
    border-color:#00669F ;
    margin-top: 0;
    color: #F3F3F3;
    font-size: 22px;
}


article{ 
    position: relative;
}


section{
    background-color: #F3F3F3 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    height: 536px;
    margin-bottom: 50px; 
    position: relative;
    width: 300px;        
}


.headerbatman{    
    background-image: url(../img/portadaBatman.png);
    background-size:cover;
    border-top-left-radius: 15px ;
    border-top-right-radius: 20px;
    height: 200px;    
}


.headermaravilla{    
    background-image: url(../img/portadaMaravilla.png);
    background-size:cover;
    border-top-left-radius: 15px ;
    border-top-right-radius: 20px;
    height: 200px;
}   


.headersuperman{    
    background-image: url(../img/portadaSuperman.png);
    background-size:cover;
    border-top-left-radius: 15px ;
    border-top-right-radius: 20px;
    height: 200px;  
}


.headerharley{    
    background-image: url(../img/portadaHarley.png);
    background-size:cover;
    border-top-left-radius: 15px ;
    border-top-right-radius: 20px;
    height: 200px;    
}


.foto-perfil{
    border-radius: 50%;
    position: relative;
    height: 120px;
    width: 120px;
    left: 30%;
    top: 68%;    
}


.boton{
    background-color: #00669F ;
    color: #F3F3F3;
    font-size:12px;
    padding: 15px 35px; 
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 60px ;
    right: 85px;
    top: 250px;
     
      
}


.like{
    position:absolute;
    top:2%;
    left:5%;
}


p{
    color: #333333;
    font-size: 14px;
    line-height: 17px;
    padding-left: 12px;
    padding-right: 12px;
}



h2{
    text-align: center ;
    font-size: 25px;
    padding-top:50px;    
}



.copyright{
    align-items: center;
    background-color: #00669F;
    color:#FFF9F9;
    display: flex;
    font-size: 14px;
    padding: 20px;   
    justify-content: center; 
    
}

.git{
    height: 20px;
    position: absolute;
    right: 25px;
}


@media ( max-width: 768px) {
    
    div{
        display :flex;
        flex-direction: column;
        align-items: center;
    }

    .queen{
        display: none;
    }

  
}

@media ( max-width: 1024px) {
    div{
        display: grid;
        grid-gap: 8px;

}

}